
/* место для вашего кода */
/*pixel-perfect
.pixel-perfect-image {
  position:absolute;
  top:0;
  left: 50%;
  width: 1440px;
  transform: translateX(-50%);
  opacity: 0.5;
  filter:sepia(0.6);
}

body{
  max-width: 1440px;
}
pixel-perfect*/
/*проверка на прокрутку на минимуме.
.check{
  width: 1100px;
  height: 100%;
  border: 1px solid #000;
  position:fixed;
}
*/

.header {
  display: grid;
  align-items:center;
  grid-template-columns: 2fr 1fr 2fr;
  height: 293px;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
}

.header__menu-list {
  display: flex;
  flex-direction: row;
  column-gap: 32px;
  padding-left: 51px;
  list-style: circle;
}

.menu-item_current {
  list-style: none;
}

.menu-item_current .menu-link {
  text-decoration: none;
}

.header__logo {
  display: block;
  width: 136px;
  justify-self: center;
}

.image {
  width:100%;
  height:100%;
}

.header__contacts {
  line-height: 1.35;
  font-style: normal;
  justify-self: end;
  padding-right: 51px;
}

.contacts-link {
  display:block;
}

 .cover {
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 50px;
  position: relative;
  z-index: -1;
 }

.cover-background {
  background-image: url(../images/cover.jpg);
  background-size: cover;
}

 .overlay {
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 0.5);
  position:absolute;
  inset: 0;
  z-index: 0;
 }

.cover__h1 {
  display: flex;
  flex-direction: column;
  padding-top: 115px;
  padding-bottom: 135px;
  row-gap:20px;
  z-index: 1;
  font-size: 100px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
}

.cover-span {
  display: block;
  line-height: 1.15;
  letter-spacing: 30px;
}

.cover-span-wider {
  letter-spacing: 60px;
}

.cover-span-center {
  line-height: 1.0;
  text-align: center;
}

.cover-span-right {
  line-height: 1.0;
  text-align: right;
  letter-spacing: 30px;
}

.reset_spacing {
  letter-spacing: 0;
}

.bid {
  display:flex;
  justify-content: end;
  color: #fff;
  align-items: center;
  font-size: 22px;
  text-transform: uppercase;
  white-space: pre;
  column-gap: 78px;
  z-index: 1;
}

.bid_button {
  background: transparent;
  color:inherit;
  font-size: inherit;
  line-height: inherit;
  font-family: inherit;
  font-style: inherit;
  text-transform: inherit;
  border: 1px solid #fff;
  min-width:257px;
  min-height:52px;
  align-items: center;
}

.lots {
  padding:180px 50px;
}

.lots__heading {
  padding-bottom: 27px;
  padding-left: 40px;
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
}

.lots__list {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap:25px;
  flex-wrap: wrap;
}

.lots__list-item {
  flex-grow: 1;
  flex-basis: 430px;
  min-height: 450px;

}

/*фон карточки прокинут в элемент списка,
    чтобы расширялся по мере расширения страницы относительно базы макета*/
.card_background_movie {
  background-image: url(../images/card-lot-01.jpg);
  background-size: cover;
}

.card_background_book {
  background-image: url(../images/card-lot-02.jpg);
  background-size: cover;
}

.card_background_picture {
  background-image: url(../images/card-lot-03.jpg);
  background-size: cover;
}

.card-link {
  display: block;
  text-decoration: none;
  height: 100%;
  position: relative;
}

/*в карточке жёстко задана её ширина для совпадения
    с макетом ширины блока с текстом
    задано выравнивание карточки по центру ссылки,
    чтобы текст центрировался относительно фона*/

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 50px 40px;
  height: 100%;
  width: 430px;
  margin: 0 auto;
}

.card-title {
  color: #fff;
  font-size: 22px;
  font-weight: 700;
  line-height: 1.2;
  text-decoration-line: underline;
  text-transform: uppercase;
  z-index: 1;
}

.card-description {
  color: #fff;
  font-size: 20px;
  line-height: 1.2;
  z-index: 1;
}

.lots__more-link {
  font-size: 20px;
  padding-top: 30px;
  padding-left: 40px;
}

.about {
  display:grid;
  padding: 0 50px;
  width:100%;
  gap: 8px 25px;
  grid-template-columns: 430px auto;
  /*grid-template-columns: 1fr 2fr;*/
  grid-template-rows: 240px auto;
  grid-template-areas:
  "logo heading"
  ". description";
  align-items:center;
}

.about__heading {
  grid-area: heading;
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
}

.about__logo {
  grid-area: logo;
  justify-self: center;
  width: 240px;
  height: 240px;
  padding:63px 46px;
  border-radius: 120px;
  background-color: #000;
}

.about__description {
  grid-area: description;
  display: grid;
  font-size: 20px;
  font-weight: 400;
  line-height: normal;
  gap:25px;
}

.footer {
  display: grid;
  align-items:start;
  grid-template-columns: repeat(3,1fr);
  font-size: 18px;
  padding-bottom: 90px;
  padding-top: 180px;
}

.footer__menu-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 15;
}

.footer__contacts {
  line-height: 24.3px;
  font-style: normal;
  justify-self: start;
  padding-left: 50px;
}


.socials {
  justify-self: end;
  padding-right: 50px;
}

.socials-list {
  width: 240px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  list-style: none;
}

.socials-icon {
  height: 48px;
  width: 48px;
}
